
#
# Module configuration file for
# MyEQApp1
# (com.mycompany.EQ.myeqapp1)
#

displayname: Eqela Tasklist //APP NAME TO AHHH OYY 
moduletype: widgetapplication
depends: com.eqela.libcommonwidget
depends: com.eqela.libtextinputwidget
depends: com.eqela.libselectorwidget
depends: com.eqela.libdialogwidget
depends: com.eqela.libpopupwidget
depends: com.eqela.libapplicationdata
